---
import { Code } from "@lucide/astro";

import GithubIcon from "@/assets/github.svg";

import { ExternalLinkIcon } from "@/icons/solid";

export interface Props {
  title: string;
  description: string;
  tech: string[];
  link: string;
  github?: string;
  lastUpdated?: string;
}

const {
  title,
  description,
  tech,
  link,
  github,
  lastUpdated: lastUpdatedProp,
} = Astro.props;

const lastUpdated = lastUpdatedProp ? new Date(lastUpdatedProp) : null;
---

<style>
  .card-ref {
    transition: transform 0.2s ease-in-out;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--color-border);
    position: relative;
  }

  .menuBar {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    left: 6px;
    top: 45%;
    transform: translateY(-50%);
  }

  .circle1,
  .circle2,
  .circle3 {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--color-secondary);
    cursor: pointer;
  }

  .card-ref:hover .circle1 {
    background: var(--color-red-500);
  }
  .card-ref:hover .circle3 {
    background: var(--color-green-500);
  }
</style>
<div class="card p-0 h-full flex flex-col card-ref">
  <div class="header px-2 py-2 border-b">
    <div class="menuBar">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <div class="size-1 opacity-0"></div>
    <span class="!mb-0 second-font">{title}</span>
    <a href={link} target="_blank" rel="noopener noreferrer">
      <ExternalLinkIcon
        client:load
        size={18}
        strokeColor="var(--color-primary)"
        class="hover:cursor-pointer"
      />
    </a>
  </div>
  <div class="p-4 h-full flex flex-col">
    <p class="mb-4 text-sm font-light">{description}</p>
    <div class="flex items-center gap-1 mb-4 flex-wrap">
      {
        tech.map((t) => (
          <span class="flex items-center gap-1 text-xs bg-accent text-accent-foreground p-1 px-2 border-dashed border border-border">
            <Code class="size-3" />
            {t}
          </span>
        ))
      }
    </div>
    {
      github && (
        <div class="flex items-center justify-between mt-auto">
          {lastUpdated ? (
            <span class="text-xs second-font text-gray-400 hover:cursor-pointer">
              Last updated on:{" "}
              {lastUpdated.toLocaleDateString(undefined, {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </span>
          ) : null}
          <a href={github} target="_blank" rel="noopener noreferrer">
            <GithubIcon class="size-5 text-primary hover:cursor-pointer" />
          </a>
        </div>
      )
    }
  </div>
</div>
